body {
  background-color: #defcfc;
}

h1 {
  color: #305f72;

}

h3 {
  color: #f38181;
}

hr {
  border-color: #e3e7f1;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;

}

img {
  border-radius: 200px;
  height: 150px;
  width: 150px;
}

text {
  color: #1c4b82;
}
